<div class="answer-container">
<h1>Here is your coaches answer</h1>

<p class="my-question">My question:
<br>
<%= @input %></p>
<p class ="coach-answer">Coaches answer:
<br>
<%= @answer %><p>

<div class="link">
<%= link_to "Ask another question", ask_path %>
</div>

</div>
