<div class="container">
<h1>Welcome to Stupid Coaching</h1>
<form action="/answer" method="get">
  <input type="text" name="question" class="input-form">
  <input type="submit" value="Ask!" class="submit-btn">
</form>
</div>
